<!DOCTYPE html>
<head>
	<link rel="stylesheet"  type="text/css" href="style.css" >
	<meta charset="UTF-8">
	<nav>
	<div class="homeLinks">
		<a href="/blogs">BLOG & SEARCH</a>
	</div>
	</nav>
</head>
<body>
	<h2><%= thisPost.title %></h2>
	<form method="POST" action="/blog/<%= thisPost.id %>?_method=PUT">
		<textarea name="title"><%= thisPost.title %></textarea></br>
		<textarea name="image"><%= thisPost.image %></textarea></br>
		<textarea name="body"><%= thisPost.body %></textarea></br>
		<textarea name="text_link"><%= thisPost.text_link %></textarea></br>
		<textarea name="link"><%= thisPost.link %></textarea></br>
		<button>Submit Changes</button>
	</form>
</body>
</html>