<html>
<head>
	<link rel="stylesheet"  type="text/css" href="style.css" >	
	<meta charset="UTF-8">
	<title>Don't Be Hangry</title>
	<nav>
	<div class="homeLinks">
		<a href="/blogs/new">NEW POST</a>
	</div>
	</nav>
</head>
<body>
	<h1>Don't Be Hangry</h1>
	<div class="fillIn">
	 <form method="POST" action="/recipes">
		<label>Find a recipe</label>
		<input type="text" name="search" placeholder="search" required></br>
		<label>Search by your favorite sites</label>
		<input type="text" name="site" placeholder="site"></br>
		<label>Search by time to cook</label>
		<input type="text" name="time" placeholder="time"></br></br>
		<button>Search</button></br>
	</form>
	</div>
	<% blogs.forEach(function(obj){ %>
		<h2><a href="/blog/<%= obj.id %>"><%= obj.title %></a></h2>
		</br>
		<img src="<%= obj.image %>">
		</br>
		<p><%= obj.body %></p>
		<a href="<%= obj.link %>"><%= obj.text_link %></a>
		<p>......................................................................................................................................................</p>
	 <% }); %>
</body>
</html>