<!DOCTYPE html>
<head>
	<link rel="stylesheet"  type="text/css" href="style.css" >
	<meta charset="UTF-8">
	<title>Don't Be Hangry</title>
	<nav>
	<div class="homeLinks">
		<a href="/blogs">BLOG & SEARCH</a>
	</div>
	</nav>
	<h1>Don't Be Hangry Recipe Search Results</h1>
</head>
<body>
	<% recipes.forEach(function(meal){ %>
		<h2><%= meal.recipe.label %></h2>
		</br>
		<img src="<%= meal.recipe.image %>">
		</br>
		<p>Recipe From: <%= meal.recipe.source %></p>
		<a href="<%= meal.recipe.url %>">Get Cooking Directions</a></br></br>
		<p>Ingredients: <%= meal.recipe.ingredientLines %></p>
		<p>Total Time: <%= meal.recipe.totalTime %></p>
		<p>Prep Time: <%= meal.recipe.prepTime %></p>
		<p>Cooking Time: <%= meal.recipe.cookingTime %></p>
		<p>......................................................................................................................................................</p>
	<% }); %>

</body>
</html>