<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>Don't Be Hangry</title>
	<a href="/blogs">BLOG & SEARCH</a>
	<h2>Don't Be Hangry Recipe Search Results</h2>
		<style>
		head{
			font-family: helvetica;
		}
		body{
			font-family: helvetica;
			text-align: center;
			font-size: 12px;
			display: block;
			margin-right: auto;
			margin-left: auto;
			max-width: 500px;
		}
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width:500px;
			height:375px;
		}
	</style>
</head>
<body>
	<% recipes.forEach(function(meal){ %>
		<h2><%= meal.label %></h2>
		</br>
		<img src="<%= meal.image %>">
		</br>
		<p><%= meal.source %></p></br>
		<a href="<%= meal.url %>">Get Cooking Directions</a></br></br>
		<p><%= meal.ingredientLines %></p></br>
		<p><%= meal.totalTime %></p></br>
		<p><%= meal.prepTime %></p></br>
		<p><%= meal.cookingTime %></p></br>

	<% }); %>

</body>
</html>